@font-face {
  font-family: 'Objective';
  src: local('Objective Regular'), local('Objective-Regular'), url('../fonts/Objective-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Objective';
  src: local('Objective Medium'), local('Objective-Medium'), url('../fonts/Objective-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Objective';
  src: local('Objective Bold'), local('Objective-Bold'), url('../fonts/Objective-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
